/*--------------------------------------------------------------
# About component
--------------------------------------------------------------*/
/* Color SASS Variables */
:root {
  --blue_boot: #0d6efd;
  --red_boot: #dc3545;
  --ligth_blue_boot: #0dcaf0;
  --orange_boot: #ffc107;
  --green_boot: #198754;
}

.about .icon-box {
    margin-bottom: 20px;
  }

  .about .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    /*Change below to adapt width and height of the icon */
    width: 74px;
    height: 74px;
    background:var(--blue_boot);

    border-radius: 50%;
    transition: 0.5s;
    border: 1px solid var(--blue_boot);
  }

  .about .icon i {
    color: #fff;
    /*Change below to adapt font size of the icon */
    font-size: 34px;
    line-height: 0;
  }

  .about .icon-box:hover .icon {
    background: #fff;
  }

  .about .icon-box:hover .icon i {
    color: var(--blue_boot);
  }

  .about .title {
    margin-left: 80px;
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 23px;
  }

  .about .title a {
    color: #343a40;
  }

  .about .title a:hover {
    color: var(--blue_boot);
  }

  .about .description {
    margin-left: 80px;
    line-height: 24px;
    font-size: 18px;
  }
