.visible{
display: block !important;
}

.hidden{
  display: none !important;
}

.bordered{
  border: 2px solid yellowgreen;
}

.modal-fullscreen{
  width: 99% !important;
  margin: 0 auto;
}

.attivo{
  background-color: red !important;
}
.card{border: none !important;}
.card-img-overlay{
  top: 95px !important;
}